<section class="d-flex flex-column justify-content-center vh-100">
  <h1 class="text-center title animated pulse display-1"><a href="/"><i class="fas fa-link animated pulse mb-5"></i></a>
    Short
    URL</h1>
  <form action="/shorten" method="post" class="mx-5 d-flex flex-column align-items-center">
    <div class="col-sm-7 input-group">
      <label for="inputUrl" class="sr-only"></label>
      <input type="text" class="form-control" id="inputUrl" placeholder="Input URL" name="inputUrl"
        value="{{inputUrl}}">
      <span class="input-group-btn">
        <button type="submit" class="btn btn-primary ml-1 " type="button">Shorten</button>
      </span>
    </div>
    {{#if errors}}
    {{#each errors}}
    <!--show error messages-->
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
      {{{this.message}}}
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">×</span>
      </button>
    </div>
    {{/each}}
    {{/if}}

    {{#if url}}
    <!--show shortened url-->
    <div class="col-sm-7 input-group">
      <input type="text" class="form-control" id="copyUrl" name="copyUrl" value="{{url.shortenedUrl}}">
      <span class="input-group-btn">
        <button id="copyBtn" class="btn btn-warning ml-1" type="button">
          Copy
        </button>
      </span>
    </div>
    {{/if}}

  </form>

</section>